.black {
    color: #201F1E;
}

.dark-red {
    color: #BB261A;
}

.dark-gray {
    color: #717171;
}

.bg-dark-gray {
    background-color: #717171;
}

.white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.red {
    color: #DF0000;
}

.bg-red {
    background-color: #DF0000;
}

.bg-light-red {
    background-color: #FDF0F0;
}

.orange {
    color: #F29E1F;
}

.green {
    color: #26BC00;
}