.font-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
}

.font-w-light {
    font-weight: 400;
}

.font-input-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.section-A-font-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}
