.custom-input {
    box-sizing: border-box;
    height: 46px;
    background: #EFF0F0;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}

.custom-date {
    appearance: none;
    background-image: url("../assets/svg/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.90rem auto;
}

.custom-date[type="date"]::-webkit-inner-spin-button,
.custom-date[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.custom-select {
    appearance: none;
    background-image: url("../assets/svg/selct-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.custom-select:focus, .custom-input:focus, .custom-date:focus {
    outline: none;
    box-shadow: 0 0 5px #c8c8c8
}

.input-lg {
    width: 357px;
}