.custom-input {
    box-sizing: border-box;
    height: 46px;
    background: #EFF0F0;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}

input.custom-input::-webkit-calendar-picker-indicator {
    color: #DF0000;
}

.custom-select {
    appearance: none;
    background-image: url("../assets/svg/selct-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.custom-select:focus, .custom-input:focus {
    outline: none;
    box-shadow: 0 0 5px #c8c8c8
}

.inputGroup {
    display: flex;
    flex-direction: column;
    max-width: 357px;
}
