@media only screen and (max-width: 850px) {
    #personNameContainer, #vatContainer {
        gap: 1.5rem;
        flex-direction: column;
    }
    .info-container {
        max-width: none;
        min-width: 100%;
    }
    .info-upload-container {
        max-width: none;
        min-width: 100%;
    }
    .input-lg {
        width: 100%;
    }
    .container-lg {
        width: 100%;
    }
    .tooltiptext {
        display: none;
    }
    .tooltipclick {
        display: block !important;
    }
}

@media only screen and (max-width: 1020px) {
    #addressContainer, #estAddressContainer {
        gap: 1.5rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #vatRegimeContainer {
        gap: 1.5rem;
        flex-direction: column;
    }
    #warningBanner {
        word-wrap: anywhere;
    }
    #sharedBanner {
        flex-direction: column;
    }
    .icon-width {
        width: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    #bankContainer {
        gap: 1.5rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    #selectButtonsContainer {
        gap: 1.5rem;
        flex-direction: column;
        margin-left: 0;
    }
    #buttonsContainer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px) {
    #buttonsContainer {
        gap: 1.5rem;
        flex-direction: column;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .input-lg {
        min-width: 150px;
    }
    #sortCodeLabel {
        white-space: normal;
    }
    #establishmentCheckbox {
        width: 50px;
        background-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .input-lg {
        min-width: 150px;
    }
    #sortCodeLabel {
        white-space: normal;
    }
    #establishmentCheckbox {
        width: 50px;
        background-size: 20px;
    }
}
