.tooltip {
    position: relative;
    display: inline-block;
    height: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 0.75rem;
    width: 300px;
    background: linear-gradient(135deg, white, white, #f1f1f1);
    border: 2px solid lightgray;
    color: black;
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 250%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipclick {
    display: none;
    font-size: 0.75rem;
    background: linear-gradient(135deg, white, white, #f1f1f1);
    border: 2px solid lightgray;
    color: black;
    padding: 20px;
    border-radius: 6px;
    transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}