.UpsertBaf {
    overflow-y: scroll;
}

.info-container {
    max-width: 45%
}

.info-upload-container {
    max-width: 30%;
}

.break-line {
    height: 0;
    border: 2px solid #D7D7D7;
}

li {
    list-style-type: none;
}
