.shared-btn {
    height: 46px;
    border-radius:137px;
    border: none;
    font-family: 'Toyota Type', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.shared-btn:disabled {
    background-color: #717171;
}
