@import "App.css";
@import "shared/UploadFile/UploadFile.css";
@import "./styles/general.css";
@import "./styles/font.css";
@import "./styles/color.css";
@import "./styles/border.css";
@import "./styles/flex.css";
@import "./styles/input.css";

@font-face {
  font-family: "Toyota Type";
  src: url("./assets/fonts/Toyota-Type.ttf");
}

body {
  margin: 0;
  font-family: 'Toyota Type', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
